$logoWidth: 300px;

.Header {
  min-height: 200px;
  background-color: rgb(42, 189, 238);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1;

  .Logo {
    width: $logoWidth;
    height: calc($logoWidth / 2585 * 909px);
  }
}
